export VIRTUAL_ENV=venv
layout python python3.10

export UBIT_USERNAME="$MY__UBMAIL_KEEP_ALIVE__UBIT_USERNAME"
export UBIT_PASSWORD="$MY__UBMAIL_KEEP_ALIVE__UBIT_PASSWORD"
export FORWARD_TO_EMAIL="$MY__UBMAIL_KEEP_ALIVE__FORWARD_TO_EMAIL"
